body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.review {
    width:70%;
    white-space:normal !important;
}
.wrap {
    white-space:normal !important;

}
.ui-pg-table {
    height: 15px!important;
}

.ui-search-table{
    display:none;
}
.ui-jqgrid tr.jqgrow td {vertical-align:top}

.margin_top {

    margin-top:20px;
}