{% extends 'base.html.twig' %}

{% block body %}

    <script>
        var app={};
        app.topicList ='{{ path('topic_list') }}'

    </script>

    {% for type, flash_messages in app.session.flashBag.all %}
        {% for flash_message in flash_messages %}
            <div class=" margin_top alert bg-{{ type }}">
                {{ flash_message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h2>Instructions</h2>
    When you add a new "Topic"
    <ul>
        <li>If you want to add a Topic click on  <span class="fa fa-lg fa-fw fa-plus"></span> in Parent Topic table</li>
        <li>If you want to add a Alternate click on <span class="fa fa-lg fa-fw fa-plus"></span> in Alternate Topic table</li>
        <li>You can upload a file with topics and alternate <br>
        Example of file type:
            <p>
                Topic,Alternate Name<br>

                room,room<br>
                ,apartment<br>
                ,chamber<br>
                hotel,hotel<br>



            </p>

        </li>
    </ul>


    {{ form_start(uploaderForm) }}
    {{ form_widget(uploaderForm) }}
    {{ form_end(uploaderForm) }}


    <div class="row">
        <div class="col-md-6"><table id="topic-grid"> </table>
            <div id="pager"></div>
        </div>
        <div class="col-md-6"><table id="topic-subgrid"> </table>
            <div id="pager_subgrid"></div>
        </div>
    </div>




{% endblock %}
